@tailwind base;
@tailwind components;
@tailwind utilities;

/* Update the existing .video-container styles */
.video-container {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

/* Style the video itself to fill the container */
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


li.quiz {
  list-style-type: none;
  cursor: pointer;
  margin: 9px 0;
  padding: 16px 8px;
  color: #000105;
  border: 1px solid lightgray;
}

.li.quiz-hover:hover {
  background-color: #d8d8d8;
  columns: #fff;
}

.li.quiz-selected {
  color: #fff;
  background-color: #000925;
}

